@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #fff;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 20px;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.menu a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin: 10px;
}

.menu a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.menu a:last-child {
    background-color: #5BC241;
    border-radius: 10px;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 300;
    padding: 10px 20px;
}

@media (max-width: 768px){
    .header {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .menu a {
        font-size: 40px;
        padding: 17px 40px;
    }
    
    .menu a:last-child {
        margin-top: 50px;
        font-size: 18px;
    }
}