@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinturas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}

.pinturas .pintura {
    position: relative;
    width: 335px;
    height: 432px;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #fff;
    bottom: 43px;
    left: 26px;
}

.obra {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.autor {
    font-size: 17px;
    font-weight: 300;
}